<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand text-light">ImageRespository</a>
  <form class="form-inline" style="margin-left: auto">
    <button class="btn btn-outline-primary" type="button">Upload Image</button>
    <div style="padding-left: 10px;">
      <button class="btn btn-outline-danger" type="button">Delete</button>
    </div>
    <div style="padding-left: 10px;">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
    </div>
    <button class="btn btn-light" type="submit">Search</button>
  </form>
</nav>